<!-- Simple skeleton loading markup -->
<div class="skeleton-grid" aria-hidden="true">
    <div class="skeleton">
        <div class="title"></div>
        <div class="line"></div>
        <div class="line short"></div>
    </div>
    <div class="skeleton">
        <div class="title"></div>
        <div class="line"></div>
        <div class="line short"></div>
    </div>
    <div class="skeleton">
        <div class="title"></div>
        <div class="line"></div>
        <div class="line short"></div>
    </div>
    <div class="skeleton">
        <div class="title"></div>
        <div class="line"></div>
        <div class="line short"></div>
    </div>
</div>
